@charset "utf-8";

/* font : Poppins */
@font-face {
    font-family: 'Poppins';
    src: url('/font/Poppins-ExtraBold.woff2') format('woff2'),
        url('/font/Poppins-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/font/Poppins-Bold.woff2') format('woff2'),
        url('/font/Poppins-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/font/Poppins-Medium.woff2') format('woff2'),
        url('/font/Poppins-Medium.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


/* font : S-CoreDream */
@font-face {
    font-family: 'S-Core Dream';
    src: url('/font/S-CoreDream-4Regular.woff2') format('woff2'),
        url('/font/S-CoreDream-4Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'S-Core Dream';
    src: url('/font/S-CoreDream-5Medium.woff2') format('woff2'),
        url('/font/S-CoreDream-5Medium.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'S-Core Dream';
    src: url('/font/S-CoreDream-6Bold.woff2') format('woff2'),
        url('/font/S-CoreDream-6Bold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
/*Reset*/
*{margin:0; padding:0; box-sizing: border-box;}

html{font-size : 62.5%; -webkit-text-size-adjust: none} /*10px*/

body, div, p, dl, dt, dd, h1, h2, h3, h4, h5 ,h6 ,button {
    margin:0;
    padding:0;
}
header, nav, section, article, footer{
    margin:0;
    padding:0;
    display:block;
}
a:link, a:hover, a:visited, a:active{
    text-decoration: none;
    color:#000000;
}
ul, ol, li{
    margin:0;
    padding:0;
    list-style:none;
}
table{
    border-spacing: 0;
    table-layout:fixed;
    word-break: keep-all;
}
input[type="text"], input[type="password"], input[type="tel"] {
    -webkit-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: 1px #707070 solid;
}
select{
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    appearance: none;
    border-radius: 0;  
}
select::-ms-expand {display:none}

button{
    border:none;
    outline: none;
    box-shadow: none;
}
textarea{
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
}
body{
    font-family:'Poppins', 'S-Core Dream',serif,'맑은 고딕','malgun gothic','굴림','gullim','돋움','dotum','애플 고딕','apple gothic';  
    height:100vh;
}

i, em, address, strong, b{
    font-style: normal;
}

/**** index *****/
#body{
    width:100%;
    height:100vh;
    padding:0 300px;
    background-color: #f5f5f5;
}
/** header **/
#header{
    width:100%;
    height:15%;
}
#header h1{
    width:fit-content;
    margin:0 auto;
    padding: 1.5rem 0;
}
#header h1 > img{
    display: block;
    margin: 0 auto;
    width:70%;
}
/*** container ***/
#container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    height: 90%;
}
#container > div{
    width:50%;
}
.titBox{
    width:100%;
    padding-bottom: 10rem;
}
.titBox > .main_titUp{
    padding : 0 0 4rem 0;
    font :600 7.5rem 'Poppins';
    color : #333;
    text-shadow: 5px 3px #c2c2c2;
}
.titBox > .main_titDown{
    padding-bottom: 8rem;
    font :300 1.6rem 'Poppins';
    color: #707070;
}
a.startBtn{
    display: block;
    width:40%;
    text-align: center;
    border-radius: 50px;
    background-color: #929292;
    padding: 1.5rem 5rem;
    font : 600 2.5rem 'Poppins';
    color : #fbfbfb;
    /*hover시 커짐*/
    transition: all 0.2s linear;
}
a.startBtn:hover{
    transform: scale(1.12);
    transition: .3s;
}
/***** subcontainer *****/
#subcontainer{
    width:100%;
    height: 85%;
}
p.conTit{
    width:100%;
    font : 300 3.5rem 'Poppins';
    text-align: center;
    text-shadow: 3px 3px #c2c2c2;
}
.conWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8rem;
}
.sub_left{
    width:60%;
    height:500px;
    padding:15px;
    border-radius: 30px;
    background-image: linear-gradient(to left, #a8edea 0%, #fed6e3 100%);
}
.sub_right{
    width:40%;
}
.contenes_BtnBox{
    width:100%;
    margin:0 auto;
}
.contents_Btn{
    display: block;
    width:70%;
    margin: 0 auto 30px;
    /* padding: 15px; */
    background-color: #fff;
    border : 1px #333 solid;
    border-radius: 30px;
    text-align: center;
}
.contents_Btn:last-child{
    margin-bottom: 0;
}
.contents_Btn_up{
    display: block;
    color : #333;
    font : 300 18px "Poppins"; 
    padding:15px;
}
/* .contents_Btn_down{ bg:gray / color:#fff
    display: none;
    width:100%;
    border-radius: 30px;
    background-color: #9b9b9b;
    text-align: center;
    color : #fff;
    font: 300 18px 'Poppins';
    padding:15px;
} */
.contents_Btn_down{
    display: none;
    width:100%;
    border-radius: 30px;
    background-color: #fff;
    text-align: center;
    color : #333;
    font: 300 18px 'Poppins';
    padding:15px;
}
.contents_Btn_down_inner{
    font : 300 12px 'S-Core Dream';
    padding-left: 15px;
}
/*hover 시*/
/* .contents_Btn:hover{ bg:gray 일 때
    border-style: none;
} */ㄴ
.contents_Btn:hover .contents_Btn_up{
    display: none;
}
.contents_Btn:hover .contents_Btn_down{
    display: block;
}


